node-linker=hoisted
only-built-dependencies[]=@firebase/util
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
manage-package-manager-versions=false
registry=https://registry.npmjs.org/
minimum-release-age=0
